/* base.css */

/* Reset some default browser styles */
body, h1, h2, h3, p, ul, ol, li, figure, figcaption, blockquote, dl, dd {
    margin: 0;
    padding: 0;
}

body {
    line-height: 1.5;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
}

h1, h2, h3 {
    font-weight: bold;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

a {
    text-decoration: none;
    color: #1a0dab;
}

header, footer {
    background-color: #333;
    color: white;
    padding: 1rem;
}

header nav ul {
    display: flex;
    justify-content: space-around;
}

header nav ul li {
    list-style: none;
}

header nav ul li a {
    color: white;
}

footer p {
    text-align: center;
}
